.content
  %h1 Alex Berry
  %address
    118 Hudson St<br/>
    Somerville, MA 02144<br/>
    845-705-6171<br/>
    %a{ href: 'mailto:highwaybobbery@gmail.com' } highwaybobbery@gmail.com

  %h2 Summary
  .intro
    %p
      I've been working on web based applications since 2000. I've worked on and led
      teams creating everything from small business marketing sites to large scale
      platforms.
    %p
      My experience with clients, architects, designers, and developers makes me a
      valuable link in the design and development chain.
    %p
      I'm looking for a full-stack developer position using Ruby on Rails. 

    %p
      Specialties: Ruby on Rails, HTML, SASS, CoffeeScript, JQuery, TDD

  %h2 Experience

  %h3 Developer at Firecracker
  .date July 2012 - March 2013

  %ul
    %li Full stack rails development using RSpec, MongoDB CoffeeScript and Sass
    %li Rebuilt an outdated rails 2.0 application from the ground up including conversion to MongoDB.
    %li Implemented data migration system to move customer data to new application

  %h3 Developer Apprentice at thoughtbot, inc.
  .date April 2012 - June 2012

  %ul
    %li Intensive apprenticeship in test driven Ruby on Rails development.
    %li Experience with SCSS, HAML, CoffeeScript, BackboneJS

  %h3 Lead Technical Designer at PullnotPush Marketing
  .date January 2010 - April 2012
  %ul
    %li Implemented custom desgins using css and javascript for over 200 Hubspot CMS clients.
    %li Trained several junior team members in CSS, JS and HTML coding practices.
    %li Developed internal processes to efficiently generate customized template solutions using Adobe products and code templates.

  %h3 Contract Developer at Filament Group Inc.
  .date 2002 - 2004
  %ul
    %li Developed HTML and Javascript Interfaces for client applications.
    %li Created PHP and Perl based CMS System distributed to a variety of clients.
    %li Worked with clients to integrate interfaces with backend components

  %h3 Senior Interface Developer at ZEFER
  .date 1999 - 2001
  %ul
    %li Worked on interdisciplinary teams from initial strategy through deployment of medium to large scale internet applications.
    %li Assessed feasibility and best practice for new interface techniques.
    %li Documented these findings, and presented them to clients and internal strategy teams.
